@media (max-width:700px) {
  
}

body{
    background-color: white;
}
*{
    margin: 0px;
    padding: 0;
    font-family: 'Times New Roman',  serif;
    box-sizing: border-box;
}
.header{
    position: fixed;
    color: rgb(7, 72, 7);
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
}
.logo{
    color:rgb(4, 28, 85);
    font-size: 40px;
    text-decoration: none;
    font-weight: bolder;
    
}
.navbar a{
    text-decoration: none;
    color: azure;
    font-weight: 400px;
    font-size: 18px;
    margin-right:29px ;
    transition: 0.5s;
}
.navbar a:hover{
    color: rgb(242, 198, 111);
    
}
#home{
    height: 100vh;
    background: linear-gradient(-90deg, rgb(4, 28, 85)65%, white 35%);
     display: flex;
    align-items: center;
    justify-content:center;
    padding: 0, 10%;
}

.name{
    font-size: 55px;
    color:rgb(223, 226, 232) ;
    text-align: center;
    justify-content: center;
    
}

.home-sci i{
    color: rgb(250, 252, 255);
     
}

.home-image{
    width: 600px;
    height: 650px;
   margin: 30px;
   background-color: rgb(4, 28, 85);
   border-radius: 60px;
   position: relative;
}
.para2{
    color: white;
    font-size: larger;
}
.about-content{
    margin-top: 60px;
    text-align: center;
    font-size: 28px;
   background-color:  rgb(4, 28, 85);
   color: white;
   padding-bottom: 30px;
   padding-top: 30px;
  
  
}
h1{
    padding-bottom: 50px;
    color:  rgb(242, 198, 111); 
    font-weight: 400;
}
.para3{
    font-family: Georgia, Times, 'Times New Roman', serif;
     
}
.skill-content{
 margin-top: 60px;
    text-align: center;
    font-size: 28px;
   background-color:  rgb(4, 28, 85);
   color:white;
   padding-bottom:30px;
   padding-top: 30px;
    
}
h3{
    padding-bottom:14px;
}
.para4{
    padding-bottom: 25px;
}
.para5{
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
  background-color: white;
  color:  rgb(4, 28, 85);
} 
.work-content{
    margin-top: 60px;
    text-align: center;
    font-size: 28px;
   background-color:rgb(4, 28, 85) ;
   color:white; 
   padding-bottom:30px;
   padding-top: 30px;
}
.education-content{
  margin-top: 60px;
    text-align:center;
    font-size: 28px;
   background-color:rgb(4, 28, 85) ;
   color:white; 
   padding-bottom:30px;
   padding-top: 30px;
   
   
}  
.title5{
  font-weight: lighter;
  color: white;
}
.year{
    color: rgb(149, 149, 146);
}
#contact{
  margin-top: 60px;
    text-align:center;
    font-size: 28px;
   background-color:rgb(4, 28, 85) ;
   color:white; 
   padding-bottom:30px;
   padding-top: 30px;  
}
.title6{
    
     padding-bottom: 50px;
    color:  rgb(242, 198, 111); 
    font-weight: 400;
}
button{
    background-color: rgb(242, 198, 111) ;
    color:rgb(4, 28, 85); 
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 16px;
}
button:hover{
    background-color: rgb(13, 177, 65);
}
footer{
    text-align: center;
    justify-content: center;
    background-color: black;
    padding-top:30px ;
    
}
.footer{
    font-size:medium;
    color: aliceblue;
    padding-top: 30px;
}